<div id="headerwrap" class="network">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Designing the future of online debate</h3>
                <h1>Masters of Networks 3</h1>
                <h5>A two-day hackathon for network scientists, active members of online communities and people interested in participatory democracy to get together, discuss and make sense of what we know about online communities.</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/greynet.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->